<h2>Burgers</h2>

<ul>
    test
    {{#each burgers}}
    <li>
        {{BurgerName}}
    </li>
    {{!-- {{#unless devoured}}
    <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
    <button type="button" class="eatburger btn" id="eatbutton" data-id="{{this.id}}"
        data-newDevoured="{{devour}}"></button>
    {{/unless}} --}}
    {{/each}}
</ul>



{{!-- create 2 columns left for not eaten right for eaten --}}
{{!-- create new row for button to add new burger --}}
{{!-- maybe use modal to popup a submission box to be cool? --}}
{{!-- javascript to grab new burger information --}}
